# --------------------
# Server
# --------------------
PORT=4000
TRUST_PROXY=1
CORS_ORIGIN=http://localhost:5173

# --------------------
# JWT (REQUIRED)
# --------------------
JWT_SECRET=befb421828afd1ef81bef19313e72adf1ee2a019bbfef516f9d5ad8bc3e2c9a224f12b15ff53f5fcab5d54a375ea406b
JWT_EXPIRES_IN=7d

# --------------------
# MySQL (cPanel)
# --------------------
DB_HOST=cpanel-sh117.webhostingservices.com
DB_PORT=3306
DB_USER=pixelfla_vertex_user
DB_PASSWORD=8.+wlwTE65sS
DB_NAME=pixelfla_vertex_realestate

# --------------------
# Uploads
# --------------------
UPLOAD_DIR=src/uploads
PUBLIC_BASE_URL=http://localhost:4000